/* Define the global or root variable */
:root {
    --primarycolor: #213555;
    --backgroundcolor: #F5EFE7;
    --primaryAccentcolor: #D8C4B6;
    --secondarycolor: #4F709C;
    --whitecolor: white;
    --blackcolor: #222222;
    --primaryfont: 'Open Sans', sans-serif;
    --navbarheight: 5rem;
    --cursivefont: 'Pacifico', cursive;
}

/* Main CSS */
body {
    background-color: var(--backgroundcolor);
    color: var(--primarycolor);
    font-family: var(--primaryfont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: var(--primarycolor);
}

a:hover {
    color: var(--primaryAccentcolor);
}

.navigation {
    background-color: var(--whitecolor);
    height: var(--navbarheight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 3px 4px grey);


}

.logo {
    display: flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
}

.logoimage {
    padding: 8px;
    height: 2rem;
    /* float: left; */
}

.ContactImage {
    height: 2rem;
    /* padding: 8px; */
    margin-right: 5px;
}

.menuItem {
    flex-grow: 2;
}

.menuItem {
    margin-left: 20px;
}

/* Banner */
.banner {
    display: flex;
    height: 450px;
    /* background: linear-gradient(45deg, var(--primaryAccentcolor), var(--primarycolor)); */
    /* background-color: var(--secondarycolor); */
    filter: drop-shadow(0px 3px 4px grey);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg,#79E0EE, #D0F5BE, #98EECC,white);

}

.bannerimage {
    height: 300px;
    border-radius: 100%;
}

.greeting {
    font-family: var(--cursivefont);
    font-size: 1.5rem;
}

.title {
    font-size: 3rem;
}

.titlespan {
    display: inline-block;
    background-color: var(--backgroundcolor);
    padding: 0.5rem;
    margin: 5px 0px;
}

.description {
    margin: 30px 0px;
    line-height: 2rem;
}

.showcvbutton {
    /* background-color: var(--backgroundcolor); */
    background: linear-gradient(white, rgb(235, 235, 235), rgb(245, 245, 245));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px grey);
}

.showcvbutton:hover {
    background: linear-gradient(white, rgb(215, 215, 215));
}

.text1 {
    border-left: .1px solid;
    border-right: .1px solid;
    float: right;
    font-size: .6rem;
}

.table1 {
    border: .1px solid;
    height: .6rem;
}

.number.hover {
    background: linear-gradient(white, rgb(235, 235, 235));
}

/* Services section */
.Services {
    margin: 5rem;
}

.Servicetext {
    text-align: center;
    text-transform: uppercase;
}

.textsubheading {
    color: var(--secondarycolor);
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}

.textheading {
    font-size: 2.5rem;
    font-weight: bold;
}

.Servicecards {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.Servicecard {
    border: 2px solid grey;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 2px #aaaaaa);
    margin: 15px;
    padding: 40px;
}

.Servicecard:hover {
    /* border: none; */
    filter: drop-shadow(3px 3px 8px grey);
    background-color: white;
}

.Serviceicon {
    color: white;
    background-color: orange;
    padding: 15px 15px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2rem;

}

.Serviceicon {
    font-size: 3rem;
    color: black;
}

.Servicetitle {
    font-size: 1.75rem;
    margin: 20px 0px;
}

.Servicefeature {
    font-size: 1rem;
    margin: 10px 0px;
}

.Servicefeatureicon {
    font-size: 1rem;
}

.bottombanner {
    display: flex;
    height: 600px;
    background: linear-gradient(45deg,#79E0EE, #D0F5BE, #98EECC,white);
}

.bottombannerimage {
    margin-left: 20px;
    height: 300px;
    border-radius: 100%;
    margin-top: 100px;
    /* mix-blend-mode:multiply; */
}

.aboutme {
    margin-left: 150px;
    margin-top: 100px;
}

.mydescription {
    font-family: var(--primaryfont);
    font-size: 3rem;
    line-height: 2rem;
    display: inline-block;
    margin-left: 140px;
    padding: 0.5rem;
    line-height: normal;

}

.paragraph {
    margin-left: 150px;
}

.checkpoints {
    margin-left: 130px;
}

.table2 {
    border-spacing: 15px;
}

.showhirebutton{
    background: linear-gradient(white, rgb(235, 235, 235), rgb(245, 245, 245));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px grey);
    margin-left: 140px;
    line-height: 20px;

}

.showhirebutton:hover{
    background: linear-gradient(white, rgb(215, 215, 215));    
}

.socialmedia{
    margin-left:4.5rem;
    flex-shrink:1.5rem;
    /* margin-bottom: 50px;  */
    display:flex;
    align-items: center;
    /* justify-content: space-around; */
}

.fbimage{
    border-radius: 100%;
    height: 5rem;
}
.fbimage:hover{
    background:linear-gradient(white, rgb(215, 215, 215));  
}

.instaimage{
    border-radius: 100%;
    height: 5rem;
    
}
.instaimage:hover{
    background:linear-gradient(white, rgb(215, 215, 215));  
    
}