.box{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: red;
    animation-name: colorChanger;
    animation: colorChanger 2s infinite;
    /* animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    /* border-radius: 100%; */
}
@keyframes colorChanger{
    0%{
        background-color: red;
        transform: scale(0.3);
        /* transform: translate(0,0px); */
    }
    50%{
        background-color: green;
        transform: scale(1);
        /* transform: translate(0,50px); */
    }100%{
    background-color:aqua;
    transform: scale(3);
    /* transform: translate(0,200px); */
    }
}
.left{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: greenyellow;
    animation-name: leftwala;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}

.right{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: green;
    animation-name: rigtwala;
    animation-duration: 5s;
    animation-iteration-count: infinite; 

}

@keyframes leftwala{
    0%{
        transform:translate(0px,0px)
    }
    
} 